<%= form_with(model: volunteer_help_request, local: true) do |form| %>
  <% if volunteer_help_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer_help_request.errors.count, "error") %> prohibited this volunteer_help_request from being saved:</h2>

      <ul>
        <% volunteer_help_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label 'Photos' %>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
