<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @volunteer_help_request.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @volunteer_help_request.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @volunteer_help_request.deadline %>
</p>

<p>
  <strong>City:</strong>
  <%= @volunteer_help_request.city %>
</p>

<p>
  <strong>Status:</strong>
  <%= @volunteer_help_request.status %>
</p>

<p>
  <strong>Images:</strong>
  <% @volunteer_help_request.photos.each do |photo| %>
    <%= image_tag url_for(photo), style: 'width: 300px' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_volunteer_help_request_path(@volunteer_help_request) %> |
<%= link_to 'Back', volunteer_help_requests_path %>
