<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @volunteer_help_request.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @volunteer_help_request.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @volunteer_help_request.deadline %>
</p>

<p>
  <strong>City:</strong>
  <%= @volunteer_help_request.city %>
</p>

<p>
  <strong>Status:</strong>
  <%= @volunteer_help_request.status %>
</p>

<p>
  <strong>Images:</strong>
  <% @volunteer_help_request.photos.each do |photo| %>
    <%= image_tag url_for(photo), style: 'width: 300px' %>
  <% end %>
</p>

<% if VolounteerHelpRequestsPolicy.new(current_user, @volunteer_help_request).update? %>
  <%= link_to 'Edit', edit_volunteer_help_request_path(@volunteer_help_request) %>
<% end %>
<% if VolounteerHelpRequestsPolicy.new(current_user, @volunteer_help_request).take_in_progress? %>
  <%= link_to 'Take in progress', volunteer_help_request_take_path(volunteer_help_request_id: @volunteer_help_request.id), method: :post %>
<% end %>
<% if VolounteerHelpRequestsPolicy.new(current_user, @volunteer_help_request).finish? %>
  <%= link_to 'Finish', volunteer_help_request_finish_path(volunteer_help_request_id: @volunteer_help_request.id), method: :post %> |
<% end %>
<%= link_to 'Back', volunteer_help_requests_path %>
